---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Values from '../components/Values.astro';
import Meaning from '../components/Meaning.astro';
import Mission from '../components/Mission.astro';
import MerchShowcase from '../components/MerchShowcase.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <Values />
    <Meaning />
    <Mission />
    <MerchShowcase />
    <Contact />
  </main>
  <Footer />
</Layout>
